fastapi[all]
fastapi-pagination
uvicorn==0.20.0

SQLAlchemy==2.0.38
alembic==1.9.0

pydantic[email]
python-dotenv

psycopg2-binary
asyncpg==0.27.0

passlib[bcrypt]==1.7.4
bcrypt==4.0.1

python-jose[cryptography]==3.3.0
ecdsa>=0.18,<0.20

httpx==0.23.3
requests

apscheduler
streaming_form_data

pandas
openpyxl

pytest==7.2.0
pytest-asyncio==0.20.3
pytz
